body {
  margin: 0;
  padding: 0;
  background-color: #1C1C1C;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
}

#divHeader {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid white;
}

#visu {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
  border-radius: 10px;
}

#profPic {
  width: 200px;
  border-radius: 30px;
}
