body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(51, 51, 51);
  background-image: var(--bs-gradient);
}

#divHeader {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

#divHeader nav {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

#divHeader nav a {
  color: whitesmoke;
  text-decoration: none;
}

#visu {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C1C1C;
}

#mainInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 50px;
  color: whitesmoke;
  text-align: center;
}

#mainInfo h1 {
  font-size: 55px;
}

#mainInfo p {
  font-size: 40px;
}

#profPic {
  width: 300px;
  border-radius: 30px;
  border: 1px solid gray;
}

#projetos {
  padding: 12px;
  background-color: rgb(53, 57, 66);
  padding-bottom: 30px;
}

#divProj {
  text-align: center;
  margin: 10px;
  margin-bottom: 20px;
  color: whitesmoke;
}

#conhe img {
  width: 50px;
}

#conhe {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexConhe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sobreMim {
  text-align: center;
  background-color: rgb(32, 41, 41);
  color: whitesmoke;
  padding-top: 30px;
  padding-bottom: 20px;
}

#em {
  margin-top: 40px;
}

#contato img {
  width: 50px;
}

#contato {
  text-align: center;
  background-color: rgb(153, 145, 145);
  padding-top: 20px;
}

#contato nav {
  display: flex;
  justify-content: space-around;
}

#contato a {
  color: rgb(46, 45, 45);
  text-decoration: none;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  color: white;
}

.card-footer p {
  margin: 0;
}
